<!DOCTYPE html>
<html lang="en">
    <%- include("header"); %>
<body>
<%- include("navbar"); %>
    <div class="container">
    <br><br>
    
    <h3>Enter Employee Name:</h3>
    <br>

    <form method="post" action="/process">
    <div class="form-group">
        <label for="txtFirstName">First Name:</label>
        <input type="text" class="form-control" id="txtFirstName" name="txtFirstName"/>
    </div>

    <div class="form-group">
        <label for="txtLastName">Last Name:</label>
        <input type="text" class="form-control" id="txtLastName" name="txtLastName"/>
    </div>

    <div class="form-group">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>

        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </div>
    </form>
    <a href="/">Return to Home Page</a>
</div>

<%- include("footer"); %>
<%- include("scripts"); %>
    </body>

</html>